.add-form {
    margin-top: 20px;
    input {
        width: 350px;
        margin-right: 20px;
    }
}

.app-add-form {
    margin-top: 30px;
    padding: 25px;
    background-color: #82b4bd;
    border-radius: 20px;
    box-shadow: 15px 15px 30px #D2E1DF; 
    color: black;
}
